@font-face {
	font-family: Futurist;
	src: url(../font/Futura_ICG.ttf);
}

a{
	color: #85ADCC;
}

#sidebar {
	float: left;
	width: 10%;
	height: 100%;
	background-color: #548CB8;
}

#sidebar a {
	text-decoration: none;
	color: white;
	
}

#sidebar nav {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
	font-size: 20px;
}

#sidebar .active {
	border-bottom: rgba(233, 203, 32, 1) 2px solid;
}

#sidebar li {
	border-bottom: rgba(233, 203, 32, .3) 2px solid;
	margin-bottom: 10px;
	list-style: none;
	cursor: pointer;
	transition: all .25s ease;
}

#content {
	float:left;
	width: 90%;
	height: 100%;
	overflow-y: scroll;
}

#intro {
	background-color: #637b7b;
	width: 100%;
	height: calc(100% - 2em);
}

#intro #bg{
	background-image: url(../img/intro.svg);
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.title {
	font-family: Futurist;
	color: white;
	font-size: 50px;
	margin-left: 5%;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#one {
	background-color: #496565;
	padding: 10%;
	height: 100%;
}

#two {
	background-color: #2F4F4F;
	padding: 10%;
	height: 100%;
}

#about {
	height: 100%;
	width: 100%;
	font-family: Futurist;
}

#about h2 {
	color: white;
}

#about p {
	color: white;
}

#gun {
	width: 100%;
	font-family: Futurist;
	background-color: #2F4F4F;
	display: inline-block;
	color: white;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#details {
	width: 50%;
	float: left;
}

#perks {
    width: 50%;
	float: left;
}

#pop-up {
	display: none;
	position: absolute;
	width: 280px;
	padding: 10px;
	background: #eeeeee;
	color: #000000;
	border: 1px solid #1a1a1a;
	font-size: 90%;
}

.perk {
	border-radius: 50%;
	width: 55px;
	height: 55px;
	background-color: #3c7bae;
	margin: 2px;
}

.perk span {
	display: none;
}

.stats {
	padding-left: 5px;
}

.passive {
	background-color: lightgrey;
	border: grey 2px solid;
}

.perk img {
	width: 55px;
	height: 55px;
}

.exotic {
	width: 100%;
	background-color: #e6c300;
}

.legendary {
	width: 100%;
	background-color: #522f65;
}

.rare {
	width: 100%;
	background-color: #5076a3;
}

.uncommon {
	width: 100%;
	background-color: #366f42;
}

.common {
	width: 100%;
	background-color: #c3bcb4;
}

.name {
	font-weight: bold;
	font-size: 24px;
	margin-left: 5px;
}

.gun-type {
	margin-left: 5px;
}

.desc {
	font-style: italic;
}

.contain {
	margin: 0;
	padding: 0;
	width: 100%;
}

.contain span {
	width: 20%;
	float: left;
}

.contain div {
	width: 70%;
	float:left;
}

.column {
	float: left;
}

.void {
	color: #aa21f7;
}

.void img {
	margin-bottom: 25px;
}

.solar {
	color: #f36f21;
}

.solar img {
	margin-bottom: 25px;
}

.arc {
	color: #85c5ec;
}

.arc img {
	margin-bottom: 25px;
}

/* change jQuery progress bar stuff */
.ui-corner-all {
	border-radius: 4px;
}

.ui-progressbar .ui-progressbar-value {
	margin: 0;
}

.ui-progressbar {
	margin-bottom: 10px;
}

@media
only screen and (max-width: 1080px) {
	
	#gun {
		width: 100%;
	}
	
	#details {
		width: 100%;
	}

	#perks {
		width: 100%;
	}
	
	.column{
		float: none;
	}
	
	.passive {
		border: 0;
	}
	
	.perk {
		border: 0;
		background-color: #2F4F4F;
		border-radius: 0;
		width: 100%;
	}
	
	.perk span {
		display: inline-block;
	}
	
	.perk img{
		background-color: #3c7bae;
		border-radius: 50%;
		display: inline-block;
	}

	.passive img {
		background-color: lightgrey;
		border: grey 2px solid;
		border-radius: 50%;
		display: inline-block;
	}
	
	#sidebar {
		float: none;
		width: 100%;
		height: 5%;
		background-color: #708090;
	}

	#content {
		float: none;
		width: 100%;
		height: 95%;
		overflow-y: scroll;
		font-size: 20px;
	}
	
	#sidebar nav {
		text-align: center;
		font-size: 25px;
	}
	
	#sidebar li {
		margin-right: 20px;
		border-bottom: rgba(230, 138, 0, .3) 2px solid;
		list-style: none;
		display: inline-block;
	}
	
	#sidebar li .active {
		border-bottom: rgba(230, 138, 0, 1) 2px solid;
	}
}